<a href="https://colab.research.google.com/github/mcgmed/SQL/blob/main/SQLite_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
con = sqlite3.connect('tutorial.db')

In [ ]:
cur = con.cursor()

In [ ]:
cur.execute('CREATE TABLE movie(title, year, score)')

In [ ]:
res = cur.execute('SELECT name FROM sqlite_master')
res.fetchone()

('movie',)

In [ ]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [ ]:
cur.execute('''INSERT INTO movie VALUES ('Monty Python and the Holy Grail', 1975, 8.2),
                                        ('And Now for Something Completely Different', 1971, 7.5)
                                         ''')

The INSERT statement implicitly opens a transaction, which needs to be committed before changes are saved in the database. Call con.commit() on the connection object to commit the transaction:

In [ ]:
con.commit()

In [ ]:
res = cur.execute("SELECT score FROM movie")

In [ ]:
res.fetchall()

[(8.2,), (7.5,)]

In [ ]:
# Adding multiple data:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [ ]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

Finally, verify that the database has been written to disk by calling con.close() to close the existing connection, opening a new one, creating a new cursor, then querying the database:

In [ ]:
con.close()
new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()
print(f'The highest scoring Monty Python movie is {title!r}, released in {year}')

The highest scoring Monty Python movie is 'Monty Python and the Holy Grail', released in 1975

In [ ]:
import pandas as pd
df = pd.DataFrame({'col': [1,2,3]})
df

   col
0    1
1    2
2    3

In [ ]:
df.to_sql('test_table', new_con, index=False)

In [ ]:
sql = 'SELECT * FROM test_table'
pd.read_sql(sql, new_con)

   col
0    1
1    2
2    3

In [ ]:
conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

conn.close()

Opened database successfully
Table created successfully

In [ ]:
# INSERTING VALUES

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 53);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2019, 52);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2018, 49);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2018, 45);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2018, 50 );")

conn.commit()
print("Added data into database successfully");

Opened database successfully
Added data into database successfully

In [ ]:
# Average goal by team

conn = sqlite3.connect('test.db')

cursor = conn.execute(''' SELECT team,
                            AVG(total_goals) AS avg_goals
                          FROM team_data
                          GROUP BY team;''')

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Barcelona', 46.0)
('Real Madrid', 51.0)